/* Section 2a-c */
.section2abcContainer {
    margin-bottom: 24px;
}

/* Section 2d */
.marginBottom4 {
    margin-bottom: 4px;
}

.section2dBlock {
    display: flex;
    margin-bottom: 36px;
    gap: 4px;
}

.section2dBlockLeft {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 450px;
    gap: 4px;
}

.chart {
    /* I chose 'solid' here because I think it looks better */
    border: 1px solid var(--colors-grey400);
}

.section2dLineChart {
    composes: chart;
    flex-grow: 1;
}

.section2dScatterChart {
    composes: chart;
    width: 560px; /* same as old app */
    height: 450px;
}

/* Section 2e */
.section2eBlock {
    composes: section2dBlock;
    height: 370px;
}

.section2eChart {
    composes: chart;
    height: 370px;
    width: 560px;
}

.section2eDivergentRegions {
    height: 73px !important; /* need to override original table cell height */
}
