.report-preview-container {
    display: flex;
    border: 1px solid #CCD6EB;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px
}


/* .modal-image {
    margin-right: 15px;
} */

.report-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.section-sub-header, .section-header{
    background-color: #5b92e5;
    color: #FFF;
    padding: 5px;
    font-size: 16px;;
}