.reportContainer {
    padding: 16px;
    /* this matches the workspaces in other apps */
    background-color: white;
}

.marginBottom24 {
    margin-bottom: 24px;
}

.sectionHeading {
    background: var(--colors-blue400);
    padding: 8px;
    margin: 8px 0;
    font-size: 24px;
    line-height: 20px;
    color: white;
}
