.header-section-parent {
    display: flex;
    flex-direction: column;
    border: 1px solid #dedddd;
}

.header-section-parent-main-title, .header-section-parent-sub-title {
    padding: 0.4rem;
    border-bottom: 1px solid #e4e4e4;
}

.header-section-parent-sub-title {
    font-style: italic;
}

.header-section-parent-main-title {
    font-weight: bold;
}

.header-section-sub-sub-title {
    display: flex;
}

.header-section-sub-sub-title > div:nth-child(1), .header-section-sub-sub-title > div:nth-child(3) {
    width: 38%;
    font-weight: 500;
}

.header-section-sub-sub-title > div:nth-child(2) {
    width: 24%;
    border-left: 1px solid #d1cfcf;
    border-right: 1px solid #d1cfcf;
    font-weight: 500;
}

.header-section-sub-sub-province {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-section-sub-sub-province > div:nth-child(1) {
    padding: 0.6rem;
}

.header-section-sub-sub-province > div:nth-child(2) {
    display: flex;
    border-top: 1px solid #e4e4e4;
}

.header-section-sub-sub-province > div:nth-child(2) > div {
    width: 50%;
    padding: 0.6rem;
}

.header-section-sub-sub-province > div:nth-child(2) > div:nth-child(1) {
    border-right: 1px solid #d1cfcf;
}

.header-section-data-section {
    border-top: 1px solid #d1cfcf;
    display: flex;
}

.header-section-data-section > div:nth-child(1), .header-section-data-section > div:nth-child(3) {
    width: 38%;
}

.header-section-data-section > div:nth-child(2) {
    width: 24%;
    border-left: 1px solid #d1cfcf;
    border-right: 1px solid #d1cfcf;
}

.header-section-data-section > div:nth-child(3) {
    display: flex;
}

.header-section-data-section > div:nth-child(3) > div {
    width: 50%;
}

.header-section-data-section > div:nth-child(3) > div:nth-child(1) {
    border-right: 1px solid #d1cfcf;
}
