.data-set-modal-parent {
    display: flex;
    width: 52.1rem;
}

.data-set-modal-parent > div:nth-child(1), .data-set-modal-parent > div:nth-child(3) {
    border: 1px solid #e1e1e1;
}

.data-set-modal-parent > div:nth-child(1) {
    flex: 6;
}

.data-set-modal-parent > div:nth-child(2) {
    flex: 0.8;
    display: flex;
    align-content: center;

}


.data-set-modal-parent > div:nth-child(3) {
    flex: 4;
}

.divider {
    width: 0.8rem;
}

.destination-parent {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.destination-parent > div:nth-child(2) ul {
    padding: 0rem;
    margin: 0.9rem;
}

.destination-parent > div:nth-child(2) ul li {
    list-style-type: none;
}

.search-result-data {
    cursor: pointer;
}

.search-result-data:hover {
    background-color: rgb(1, 11, 96);
    color: #fff;
}