.data-set-modal-parent {
    display: flex;
    width: 57rem;
}

.data-set-modal-parent > div:nth-child(1), .data-set-modal-parent > div:nth-child(3) {
    border: 1px solid #e1e1e1;
}

.data-set-modal-parent > div:nth-child(1) {
    flex: 6 6 auto;
}

.data-set-modal-parent > div:nth-child(2) {
    flex: 0.8 0.8 auto;
    display: flex;
    align-content: center;
}


.data-set-modal-parent > div:nth-child(3) {
    flex: 4 4 auto;
}

.divider {
    width: 0.8rem;
}