.data-set-modal-parent {
    display: flex;
    width: 55rem;
}

.data-set-modal-parent > div:nth-child(1), .data-set-modal-parent > div:nth-child(3) {
    border: 1px solid #e1e1e1;
}

.data-set-modal-parent > div:nth-child(1) {
    flex: 6;
}

.data-set-modal-parent > div:nth-child(2) {
    flex: 0.8;
    display: flex;
    align-content: center;

}


.data-set-modal-parent > div:nth-child(3) {
    flex: 4;
}

.divider {
    width: 0.8rem;
}