:root {
    --year-height: 30px;
}
.fixed-period-title-showable li {
    list-style: none;
    padding: 0.8rem;
}

.fixed-period-title-showable li:hover {
    background-color: #000828;
    color: #fff;
}

.fixed-period-title-showable ul {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
}

.fixed-period-select-title {
    display: flex;
}

.fixed-period-select-title > div:nth-child(1) {
    flex: 9 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fixed-period-select-title > div:nth-child(2) {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

input[type='number'] {
    border: 1px solid #d8d7d7;
    border-radius: 3px;
    background-color: #fff;
    padding: 0.4rem;
    width: 6rem;
}

.fixed-period-select-title-icon img {
    width: 20px;
    height: 20px;
}

.fixed-period-select-title-icon {
    display: flex;
    align-items: center;
}

.fixed-period-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d8d7d7;
    padding: 0.4rem;
}

.fixed-period-title > div:nth-child(1) {
    flex: 4 0 0;
}

.fixed-period-title > div:nth-child(2) {
    flex: 1 0 0;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}

.fixed-period-title-showable {
    display: none;
    border: 1px solid rgb(246, 246, 244);
    color: #141313;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fixed-period-title-parent {
    position: relative;
}

.fixed-period-title-showable {
    position: absolute;
    left: 0rem;
    background-color: #fff;
    width: 100%;
    top: 2.2rem;
}

.fixed-period-title-parent:hover .fixed-period-title-showable {
    display: var(--visibility);
}

.select-period-result {
    height: 300px;
    overflow: scroll;
}

.period-result > div:nth-child(2) ul {
    padding: 0.1rem;
}

.period-result > div:nth-child(2) ul li {
    list-style: none;
    padding: 0.1rem 0.2rem;
}

.period-result > div:nth-child(2) ul li span {
    background-color: #f3f3f3;
    padding: 0.4rem;
    border-radius: 3px;
    display: block;
    margin: 0.1rem 0rem;
}

.fixed-period-year-selector {
    position: relative;
}
.fixed-period-year-selector:hover .year-section-display-showable{
    display: flex;
}

.year-section-display-showable {
    display: none;
    position: absolute;
    top: var(--year-height);
}
