.configurationsContainer{
    width: 80%;
}

.descriptionText{
    background-color: rgb(158, 169, 109);
    display: flex;
    justify-content: center;
    align-items: center;
}

.configMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(192, 206, 206);
}

.tableParagraph{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color:cornflowerblue;
}

.configTable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: bisque;
}