label {
    margin: 0.0rem 0rem;
    font-size: 1.3rem;
}
.reportContainer{
    width: 100%;
    background-color: #F3F5F7;
    height: 100vh;
}

.topParagraph{
    display: flex;
    background-color: #F3F5F7;
    height: 50px;
    color: rgb(10, 10, 10);
    font-size: 2.0rem;
    margin-left: 10%;
}

.configsContainer {
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 80%;
    border: 1px solid rgb(233, 231, 231);
    background-color: #fff;
    border-radius: 5px;
    margin-top: 2.5rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

.set-visible {
    display: block;
    transition: all 3s;
}

.set-invisible {
    display: none;
    transition: all 3s;
}

.configRows .title {
    border-radius: 5px;
    background-color: #e9e9e9;
    padding: 0.6rem;
}

#data-section, #period-section, #orgunit_section {
    padding: 0.4rem;
    width: 40%;
}

#orgunit_section > div, #period-section > div {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;

}

#orgunit_section > div {
    padding: 0.4rem;
}

#data-section > div {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
    padding: 0.4rem;
}

#data-section {
    width: 100%;
}

.button {
    font-size: 1.2rem;
}

.bottom-section {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
}

.bottom-section > div {
    display: flex;
    flex-direction: row;
    align-items: end;
    align-content: end;
    gap: 0.1rem;
    padding: 0.5rem;
}

.core-selection-parent, .selected-element-value {
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.4rem;
}

.core-selection-parent {
    flex: 1 1 auto;
    display: flex;
    gap: 0.9rem;
    flex-direction: column;
}

.selected-element-value {
    flex: 1 1 auto;
}

.data-element-section, .data-set-section {
    display: flex;
    gap: 0.9rem;
}

.button-label {
    width: 180px;
}

.clickable-button {
    background-color: rgb(243, 241, 241);
}

.orgunit-bottomsection {
    display: flex;
    flex-direction: row;
    gap: 1.0rem;
}

.orgunit-bottomsection > div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.4rem;
}

.orgunit-bottomsection {
    background-color: rgb(245, 244, 244);
}

.orgunit-bottomsection > div label {
    font-size: 1.0rem;
}

.orgunit-parent {
    border: 1px solid #dfdfdf;
    padding: 0.0rem;
}

.orgunit-middlesection {
    padding: 0.2rem;
    height: 16rem;
    margin-top: 1rem;
    overflow: scroll;
}

.orgunit-other-options > div {
    display: flex;
    gap: 0.8rem;
}

.orgunit-other-options {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    padding: 0.4rem;
}

#period-section > div {
    padding: 0.5rem;
}

.group-element-selected ul {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.group-element-selected ul li {
    list-style: none;
}