label {
    margin: 0.0rem 0rem;
}
.reportContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #F3F5F7;
    height: 100%;
}

.topParagraph{
    display: flex;
    background-color: #F3F5F7;
    color: rgb(10, 10, 10);
    font-size: 2.0rem;
    margin-left: 10%;
}

.configsContainer {
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 80%;
    border: 1px solid rgb(233, 231, 231);
    background-color: #fff;
    border-radius: 5px;
    margin-top: 2.5rem;
}

.title {
    font-size: 1.5rem;
    cursor: pointer;
}

.set-visible {
    display: block;
    transition: all 3s;
}

.set-invisible {
    display: none;
    transition: all 3s;
}

.configRows {
    border-radius: 5px;
    background-color: #e9e9e9;
    padding: 0.1rem;
}

#data-section, #period-section, #orgunit_section {
    padding: 0.4rem;
    width: 40%;
}

#orgunit_section > div, #period-section > div {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;

}

#orgunit_section > div {
    padding: 0.4rem;
}

#data-section > div {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
    padding: 0.4rem;
}

#data-section {
    width: 100%;
}

.button {
    font-size: 1.2rem;
}

.bottom-section {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
}

.bottom-section > div {
    display: flex;
    flex-direction: row;
    align-items: end;
    align-content: end;
    gap: 0.1rem;
    padding: 0.5rem;
}

.core-selection-parent, .selected-element-value {
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.4rem;
}

.core-selection-parent {
    flex: 1 1 auto;
    display: flex;
    gap: 0.9rem;
    flex-direction: column;
}

.selected-element-value {
    flex: 1 1 auto;
}

.data-element-section, .data-set-section {
    display: flex;
    gap: 0.9rem;
}

.button-label {
    width: 180px;
}

.clickable-button {
    background-color: rgb(243, 241, 241);
}

.orgunit-bottomsection {
    display: flex;
    flex-direction: row;
    gap: 1.0rem;
}

.orgunit-bottomsection > div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.4rem;
}

.orgunit-bottomsection {
    background-color: rgb(245, 244, 244);
}

.orgunit-bottomsection > div label {
    font-size: 1.0rem;
}

.orgunit-parent {
    border: 1px solid #dfdfdf;
    padding: 0.0rem;
}

.orgunit-middlesection {
    padding: 0.2rem;
    height: 16rem;
    margin-top: 1rem;
    overflow: scroll;
}

.orgunit-other-options > div {
    display: flex;
    gap: 0.8rem;
}

.orgunit-other-options {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    padding: 0.4rem;
}

#period-section > div {
    padding: 0.5rem;
}

.group-element-selected ul {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.group-element-selected ul li {
    list-style: none;
}


.report-container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    padding: 0rem;
}

.data-container, .period-container, .orgunit-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0.0rem 0rem;
    border: 1px solid #f3f3f3;
    height: auto;
}

.report-container a {
    background-color: #e4e4e4;
    width: 100%;
    display: block;
    padding: 0.6rem;
    text-decoration: none;
    color: #171717;
}

#data-parent, #period-parent, #orgunit-parent {
    display: none;
    transition: all 4s ease;
}

#data-parent:target, #period-parent:target, #orgunit-parent:target {
    display: block;
    transition: all 3s ease;
    background-color: #fff;
}

.data-section-child {
    display: flex;
    align-items: center;
    padding: 0.4rem;
}

.data-section-child {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: start;
}

.action-container {
    display: flex;
    padding: 1.2rem;
    justify-content: end;
}

.action-container ul {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    align-items: flex-end;
}

.action-container ul li {
    list-style: none;
}

.menu-parent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-parent > div {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-parent > div > div > div:nth-child(1) {
    padding: 0.7rem;
    border-bottom: 1px solid #e0dfdf;
    border-right: 1px solid #e0dfdf;
}

.menu-parent > div > div:nth-child(1), .menu-parent > div > div:nth-child(2), .menu-parent > div > div:nth-child(2) {
    flex: 1 1 auto;
}

.menu-parent > div > div:nth-child(4) {
    flex: 5 1 auto;
    color: #fff;
}

.menu-parent > div > div:nth-child(4) > div:nth-child(1){
    display: flex;
    flex-direction: row;
    margin: 0rem;
    padding: 0rem;
    padding: 0.2rem;
    gap: 0.6rem;
    align-items: end;
    justify-content: flex-end;
}



.ou-showable, .data-showable, .period-showable {
    display: none;
}

.data-showable ul {
    padding: 0rem;
    margin: 0rem;
    margin-left: 0.5rem;
}

.data-showable ul li {
    list-style: none;
    margin: 0.4rem;
    padding: 0.3rem;
    cursor: pointer;
}

.menu-parent > div > div:nth-child(1):hover .data-showable {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.ou-showable {
    width: 20rem;
    margin: 0rem;
}

.menu-parent > div > div:nth-child(3):hover .period-showable {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-top: 0.1rem;
}

.menu-parent > div > div:nth-child(2):hover .ou-showable {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.indication {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.indication > div:nth-child(1) {
    background-color: #fcf9f9;
    height:fit-content;
}

.indication > div:nth-child(2) {
    background-color: rgb(250, 249, 251);
}

.data-showable ul li:hover {
    background-color: #0a1646;
    color: #fff;
}







