
.report-container {
    width: 80%;
    margin: auto;
}

.data-container, .period-container, .orgunit-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0.3rem 0rem;
    border: 1px solid #c3c2c2;
}

.report-container a {
    background-color: #e4e4e4;
    width: 100%;
    display: block;
    padding: 0.6rem;
    text-decoration: none;
    color: #171717;
}

#data-parent, #period-parent, #orgunit-parent {
    display: none;
    transition: all 4s ease;
}

#data-parent:target, #period-parent:target, #orgunit-parent:target {
    display: block;
    transition: all 3s ease;
}




