.menubarContainer{
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
}

.logoContainer{
  display: flex;
  /* background-color: aqua; */
  align-items: center;

  
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  width: 304px;
  padding: 0;
  justify-content: space-between;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    margin-bottom: 20px;
    text-decoration: none;

  }

  nav ul li a{
    font-size: 18px;
    text-decoration: none;
  }
  
.logoImage {
  width: 50px;
  height: 50px;
}

.navLinksContainer {
  display: flex;
  margin: auto;
}