.report-preview-container {
    width: 80%;
    border: 1px solid #CCD6EB;
    border-radius: 5px;
    margin-top: 20px;
    padding: 8px
}


/* .modal-image {
    margin-right: 15px;
} */



.section-sub-header, .section-header{
    background-color: #5b92e5;
    color: #FFF;
    padding: 5px;
    font-size: 16px;;
}