.organisation-unit-modal-parent {
    width: 52rem;
}

.organisation-unit-modal-parent ul li {
    list-style: none;
}

.organisation-unit-modal-parent > div:nth-child(1) > ul {
    display: flex;
    flex-direction: row;
    gap: 2.0rem;
    margin: 0rem;
    padding: 0rem;
    align-items: first baseline;
    align-content: start;
}

.organisation-unit-modal-parent > div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: rgb(241, 241, 241);
    padding: 0.3rem;
}

.organisation-unit-modal-parent > div:nth-child(2) {
    height: 500px;
    overflow: scroll;
    padding-top: 1.2rem;
}

.organisation-unit-modal-parent > div:nth-child(3) {
    display: flex;
    float: row;
    gap: 0.5rem;
}
.organisation-unit-modal-parent > div:nth-child(3) > div {
    flex: 1 1 auto;
}