.menuContainer {
    width: 400px;
    padding: 16px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.orgUnitTreeScrollContainer {
    max-height: 700px;
    overflow: auto;
}
