:root {
    --black: #000;
    --my-data: #0771cd;
    --seventy-percent-width: 90%;
    --report-main-header-background-color: #5b92e5;
    --report-main-header-font-size: 1.5rem; 
    --white-color: #fff;
    --capitalized: capitalize;
    --main-header-padding: 0.4rem;
}
html{
    background-color: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

}
.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100%;  */    /*when contents cannot fill the page and you want to put it in the middle then use height: 100% */
    /* display: flex; */
    /* flex-direction: column;*/
    /* align-items: center;  */
    /* justify-content: center; */
    /* font-size: 1rem; */
}
