html {
    background-color: #f3f3f3;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media print {
    /* a bit of a hack to get the sizes right during printing (assuming
    this is printed on A4/US Letter paper): 
    https://stackoverflow.com/a/66593515 */
    @page {
        size: A3;
    }
    html {
        background-color: white;
    }
    /* the `overflow: auto` default allows only printing the visible viewport */
    /* `overflow: visible fixes` that */
    :global(div.app-shell-app) {
        overflow: visible !important;
    }
    /* hide the DHIS2 header bar */
    :global(div.app-shell-adapter > header) {
        display: none;
    }
}
